name: dispatch

on:
  workflow_dispatch:
    inputs: 
      LEVEL:
        description: 'Log level'
        required: true
        default: warning
        type: choice
        options:
          - debug
          - info
          - warning
      TAGS:
        description: 'Tags to filter'
        required: false
        default: ''
      ENVIRONMENT:
        description: 'Deployment environment'
        required: true
        type: environment
        default: rafaschmidt-protopia

jobs:
  log-the-inputs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout scripts only
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
          sparse-checkout: |
            .github/scripts
      
      - name: Run log script
        run: bash .github/scripts/log-inputs.sh
        env:
          LEVEL: ${{ inputs.LEVEL }}
          TAGS: ${{ inputs.TAGS }}
          ENVIRONMENT: ${{ inputs.ENVIRONMENT }}