name: dispatch
on:
  workflow_dispatch:
    inputs:


jobs:
  log-the-inputs:
    runs-on: ubuntu-latest
    steps:
        run: |
          echo "Log level: $LEVEL"
          echo "Tags: $TAGS"
          echo "Environment: $ENVIRONMENT"
        env:
          LEVEL: ${{ inputs.logLevel }}
          TAGS: ${{ inputs.tags }}
          ENVIRONMENT: ${{ inputs.environment }}